*{
    margin: 0px;
    padding: 0px;

}

.fundo {
    background-image: linear-gradient(45deg, black, blue );
    height: 120vh;
    color: aliceblue;
}

.calculadora {
     position: absolute;
     background-color: rgb(0, 0,0,0.8) ;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     border-radius: 15px;
     padding: 15px;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.botao {
    width: 50px;
height: 50px;
font-size: 25px;
cursor: pointer;
background-color: rgb(31,31,31);
border: none;
color:#fff;
margin: 1px;

}
.botao:hover {
    background-color: black;
}

h1 {
    text-align: center;
}

#resultado {
    width: 207px;
    height: 30px;
    margin: 5px;
    background-color: #fff;
    font-size: 25px;
color:black;
text-align: right;
margin: 4px;
padding: 4;
}

#comentario {
    position: absolute;
    color: #ff0000;
    top: 90%;
    height: 20%;
    width: 20%;
left: 40%;
}